body {
  background-color: #211F1F !important;
  color: #FFFFFF !important;
}

.nav-link {
  color: white !important;
  font-weight: 700 !important;
}

#dropdown-basic {
  background: none;
  border-radius: 0;
  border-color: white;
}

h3 {
  padding-left: 12px;
}

.leftTitle, .rightTitle {
  gap: 20px;
}
.rightTitle {
  margin-right: 10px;
}

.card:hover {
  scale: 1.1;
  z-index: 10;
  transition-property: scale;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.card:not(hover) {
  scale: 1;
  z-index: 0;
  transition-property: scale;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.card {
  border: none !important;
}


.d-flex.align-items-center.rightNavbar  {
  display: none !important;
}

@media screen and (min-width: 992px){
  .d-flex.align-items-center.rightNavbar{
    display: block !important;
  }
}

.dropdown-menu {
  background-color: #211F1F !important;
  opacity: 0.9;
  border-radius: 0;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #3e3a3a !important;
}

svg {
  width: 30px;
  height: 20px;
}