body {
  background-color: #211F1F !important;
  color: #FFFFFF !important;
}

.nav-link {
  color: #8E8386 !important;
  font-weight: 700 !important;
}
.nav-link:nth-child(2){
  color: white !important;
}

#dropdown-basic {
  background: none;
  border-radius: 0;
  border-color: white;
}

h3 {
  padding-left: 12px;
}

.leftTitle {
  gap: 30px;
}


.card-img-top:hover {
  scale: 1.1;
  z-index: 10;
  transition-property: scale;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.card-img-top:not(hover) {
  scale: 1;
  z-index: 0;
  transition-property: scale;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.card {
  border: none !important;
}


.d-flex.align-items-center.rightNavbar  {
  display: none !important;
}

@media screen and (min-width: 992px){
  .d-flex.align-items-center.rightNavbar{
    display: block !important;
  }
}

.dropdown-menu {
  background-color: #211F1F !important;
  opacity: 0.9;
  border-radius: 0;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #3e3a3a !important;
}

svg {
  width: 30px;
  height: 20px;
}

.modalWindow {
  position: fixed;
  background-color: #211F1F;
  padding: 30px;
  left: 32vw;
  z-index: 20;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
  width: 400px;
  display: none;
}

textarea {
  margin-bottom: 30px;
}

textarea:focus {
  padding: 4px;
  outline: 0;
}

.formButton {
  width: 120px;
  margin-top: 20px;
  background: none !important;
  border: 1px solid white !important;
}

.formButton:hover {
  background-color: #3e3a3a !important;
}


.backdrop {
  position: fixed;
  width: 100vw;
  height: 150vh;
  top: 0;
  z-index: 12;
  background-color: #181616;
  opacity: 0.9;
  display: none;
}

.showModal {
  display: block;
}

.singleComment {
  gap: 20px;
}

select {
  background: none;
  color: white;
  border: 1px solid white;
}

.rightMenu {
  align-items: center;
  gap: 7px;
}

